<div class="pure-menu links">
  <ul class="pure-menu-list">

    <li class="pure-menu-item">
	  <a class="pure-menu-link" href="http://blog.unix4fun.net/"><i class="fa fa-chain fa-fw"></i>Old Blog</a>
    </li>

    <!--
    <li class="pure-menu-item">
	  <a class="pure-menu-link" href="http://www.openbsd.org/"><i class="fa fa-chain fa-fw"></i>OpenBSD</a>
    </li>

    <li class="pure-menu-item">
	  <a class="pure-menu-link" href="http://www.alpinelinux.org/"><i class="fa fa-chain fa-fw"></i>Alpine</a>
    </li>

    <li class="pure-menu-item">
	  <a class="pure-menu-link" href="http://www.radare.org/"><i class="fa fa-chain fa-fw"></i>Radare</a>
    </li>

    <li class="pure-menu-item">
	  <a class="pure-menu-link" href="http://www.golang.org/"><i class="fa fa-chain fa-fw"></i>Golang</a>
    </li>

    <li class="pure-menu-item">
	  <a class="pure-menu-link" href="http://www.rust-lang.org/"><i class="fa fa-chain fa-fw"></i>Rust</a>
    </li>
    -->

  </ul>
</div>
